body {
    margin: 0px;
    font-family: 'Courier New', monospace;/* if consolas isn't available*/
    font-family: Consolas, monaco, monospace;
    background-color: #1E1E1E;
}

.navbar {
    display: flex;
    background-color: #282828;
}

.navbar button {
    background-color: #404040;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border-style: solid;
    border-color: #303030;
    border-width: 0px;
    color: white;
    font-family: 'Courier New', monospace;/* if consolas isn't available*/
    font-family: Consolas, monaco, monospace;
    cursor: pointer;
    width: 33%;
}



.navbar button.homejs {
    border-right-width: 1px;
    width: 8%;
    transition-duration: all 0.4s;
}

.navbar button.homejs span {
    color: #efd63e;
    content: '';
    transition: 0.4s;
}

.navbar button.homejs:hover {
    width: 25%;
    transition: 0.4s;
}

.navbar button.homejs:hover span:after {
    content: '\00a0Home.js';
    transition: 0.4s;
}




.navbar button.projectscss {
    color: #70C38D;
    border-right-width: 1px;
    border-left-width: 1px;
}

.navbar button.projectscss span {
    color: #519ABA;
}

.navbar button.contactshtml {
    color: #E2C08D;
    border-left-width: 1px;
}

.navbar button.contactshtml span {
    color: #E17833;
}

.main {
    text-align: center;
    padding-top: 320px;
    font-size: 42px;
}

.main h1 {
    overflow: hidden;
}
